
body{
    padding:0;
    margin: 0;
    height:100%;
    overflow-y: hidden;
}

ul{    
    position:fixed;
    width: 100%;
    z-index: 1;
    font-family: 'Monda', serif;
    font-size: 1.5em;
    list-style-type:none;
    margin:0 auto;
    /*padding-top:15px;*/
    padding:0;
    overflow: hidden;
    background-color: white;
}

li{
    float:left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    margin: 20px 20px;
    text-decoration: none;
}

li a:hover{
    opacity: .5;
}

a{
    color:black;
    text-decoration: none;
}

a:onclick{
    text-decoration: none;
}

.container{ 
    /*edge to edge*/
    position: absolute;
    left:0;
    top:0;
    
    white-space: nowrap;
    overflow-x: auto;
    font-size:0;
    padding:0;
}

/*img{*/
/*    padding-top:78px;*/
/*    z-index: -1;*/
/*    height:850px;*/
/*    width:auto;*/
/*    display:inline-block;*/
/*}*/

img {
  float: inline;
  width: auto;
  height: 100vh;
  object-fit: cover;
}